@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,medium,bold,italic");

html {
  height: 100%;
}
body {
  min-width: 1287px;
  min-height: 100%;
  height: 100vh;
  margin: 0;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  background-color: white;
}

.cursor-pointer {
  cursor: pointer;
}

.capitalize {
  text-transform: capitalize
}
.Mui-error,.MuiFormLabel-root.Mui-error{
  color: #b83055 !important;
}
.MuiInput-underline.Mui-error:after{
    border-bottom-color: #db687a !important;
}
