$morningGlory: #3c75c8;
$bg-secondary-color: #e7ecee !important;
.caregiverTemplate {
    cursor: pointer;
}

.loadingIcon {
    position: absolute;
    top: 50%;
    left: 55%;
}

.containerCss{
    background: $bg-secondary-color;
}

.searchField {
    display: flex;
    .MuiInput-root {
        padding-bottom: 8px;
    }
    .MuiSelect-select:focus {
        background-color: transparent;
    }
    .MuiSelect-icon {
        height: 24px;
        width: 24px;
    }
    .MuiInputBase-input {
        color: var(--darkBlue);
        font-weight: 500;
        padding-bottom: 8px;
        &::placeholder {
            color: #737684;
            opacity: 1;
        }
    }
    .MuiInput-underline:before {
        border-bottom: 1.5px solid #bec3c5;
    }
    .MuiInput-underline:after {
        border-bottom: 2px solid $morningGlory;
    }
    .MuiInput-underline:hover:not(.Mui-disabled):before {
        border-color: $morningGlory;
    }
}

.sort-selection-dropdown {
    margin-bottom: 4px;
    margin-right: 24px;
    g[stroke] {
        stroke-width: 1;
    }
}

.empty-search-box {
    padding-top: 92px;
}