@import "../../variables.scss";

$font-family: Montserrat;

.try-again-button {
  border-radius: 25px !important;
  background-color: rgb(251, 202, 113);
  min-width: 300px;
  min-height: 48px;
  border: none;
  color: #24254e !important;
  text-transform: capitalize !important;
  font-size: 0.9em !important;
  margin-top: 40px;
}

.try-again-button .MuiButton-label {
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
}
.minilist_root {
  width: 15vw;
  /* height: 50vh; */
  min-width: 360px;
  /* padding-left: 30px;
  padding-right: 23px;*/
  top: 85px;
  /* right: 20px; */
  background-color: #ffffff;
  border: solid 1px #e7ecee;
  overflow-y: hidden;
  overflow-x: hidden;
  border-top: none;
}
.minilist_bar .MuiAppBar-colorPrimary {
  background-color: "#ffffff";
  border-bottom: solid 1px #e7ecee;
  padding-left: 30px;
  padding-right: 23px;
}
.minilist_title {
  flex-grow: 1;
  color: #24254e;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
}
.minilistpanel {
  height: 100%;
  overflow-y: hidden;
  padding-bottom: 10px;
  overflow-x: hidden;
}
.minilistpanellist {
  height: 100%;
  overflow-y: hidden;
  padding-bottom: 60px;
  overflow-x: hidden;
  padding-top: 24px;
  padding-left: 14px;
  padding-right: 23px;
}
.minilist_toolbarCss {
  background-color: white;
  border-bottom: solid 1px #e7ecee;
  /* padding: 0; */
}

.MuiBadge-anchorOriginTopRightRectangle {
  top: 3px;
  right: 3px;
}
.MuiBadge-dot {
  height: 16px;
  min-width: 16px;
  border: solid white 3px;
  border-radius: 10px;
}

.minilistpanel .str-chat__container {
  flex-direction: column;
}

.minilistpanel .str-chat-channel-list,
.minilistpanel .str-chat-channel {
  /*max-height: 25vh;*/
  height: 100%;
  min-width: 15vw;
}

.minilistpanel .str-chat__channel-list-team {
  height: 100%;
  overflow-y: auto;
  background-color: white;
}

.minilistpanel .wrapper {
  display: grid;
  height: 70vh;
  width: 90vw;
  grid-template-columns: 70vw 20vw;
  grid-template-rows: 1fr;
}

.minilistpanel .left {
  // width: 70vw;
  display: block;
}

.minilistpanel .right {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(10px, 10vh) minmax(10px, 10vh) 1fr;
  padding-left: 10px;
}

.minilistpanel .header {
  background-color: white;
  margin: 1px;
  padding-left: 20px;
}

.minilistpanel .messaging.str-chat .str-chat__list {
  background-color: #edf2f4;
}

.minilistpanel .str-chat__channel-list-team__header {
  display: none;
}

.minilistpanel .str-chat__avatar-fallback {
  background-color: #505176;
}

.minilistpanel .str-chat__message--me .str-chat__message-text-inner,
.str-chat__message-simple--me .str-chat__message-text-inner {
  background-color: #505176;
  color: white;
}

.minilistpanel .str-chat__channel-preview--active {
  background-color: white;
}

.minilistpanel .str-chat__channel-preview-title {
  color: #24254e;
  font-family: $font-family;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
}

.minilistpanel
  .str-chat__channel-preview--active
  .str-chat__channel-preview-title {
  color: #24254e;
  font-family: $font-family;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
}

.minilistpanel
  .str-chat__channel-preview--active
  .str-chat__channel-preview-last-message {
  color: #505176;
  font-family: $font-family;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

.minilistpanel .str-chat__channel-preview-last-message {
  color: #505176;
  font-family: $font-family;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

.minilistpanel .str-chat__channel-list-team__main {
  background: white;
  width: 100%;
}

.minilistpanel .str-chat__channel-preview-unread-count {
  background-color: #db687a;
}

.minilistpanel .MuiCardContent-root {
  padding: 0;
}

.minilistpanel .MuiIconButton-root {
  color: white;
}

.minilistpanel .str-chat__channel-preview--dot {
  background-color: #db687a;
  left: 300px;
  width: 10px;
  height: 9px;
}

.minilistpanel .MuiPaper-rounded {
  border-radius: 0;
}

.minilistpanel .str-chat__channel-preview button {
  border-bottom: none;
  cursor: pointer;
}

.minilistpanel .str-chat__channel-preview button:focus {
  background: white;
  box-shadow: none;
}

.minilistpanel .str-chat__channel-preview {
  min-height: 66px;
}


.minimessenger .px-4 {
  padding-left: 0.4rem;
  padding-right: 0.4rem
}

.minimessenger .shadow-md {
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.minimessenger .MuiAppBar-colorPrimary {
  color: #fff;
  background-color: #24254e;
}
.minimessenger .str-chat__input{
  box-shadow: inherit;
}
.minimessenger .str-chat__message-simple-name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 125px;
    float: left;
}
.minimessenger .text-18 {
  font-size: 1.8rem
}

.minimessenger .text-19 {
  font-size: 1.9rem
}

.minimessenger .text-20 {
  font-size: 2rem
}

.minimessenger .text-24 {
  font-size: 2.4rem
}

.minimessenger .text-28 {
  font-size: 2.8rem
}

.minimessenger .text-32 {
  font-size: 3.2rem
}


.minimessenger .str-chat-channel .str-chat__container {
  // height: 60vh;
}


.minimessenger .str-chat-channel-list, .minimessenger  .str-chat-channel {
 height: 100%;
}

.minimessenger .str-chat__container {
flex-direction: column;
}

.minimessenger  .str-chat-channel-list, .minimessenger .str-chat-channel{
  // height: 92vh;
}

.minimessenger .wrapper {
  /* display: grid;
  height: 70vh;
  width: 90vw;
  grid-template-columns: 70vw 20vw;
  grid-template-rows: 1fr; */
}

.minimessenger .left {
  // width: 70vw;
  display: block;
}

.minimessenger .right {
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(10px,10vh) minmax(10px, 10vh) 1fr;
  padding-left: 10px; */
}

.minimessenger .header{
  background-color: white;
  margin: 1px;
  padding-left: 20px;
}

.minimessenger .messaging.str-chat .str-chat__list {
  background-color: #edf2f4;
  padding: 0 16px 0;
}

.minimessenger .str-chat__channel-list-team__header{
  display: none; 
}

.minimessenger .str-chat__avatar-fallback{
  background-color: #505176;
}



.minimessenger .str-chat__message--me .str-chat__message-text-inner, .str-chat__message-simple--me .str-chat__message-text-inner{
  background-color: #505176;
  color: white;
}

.minimessenger .str-chat__channel-preview--active{
  background-color: #edf2f4;
}

.minimessenger .str-chat__channel-preview-title{
  color: #24254e;
  font-family: $font-family;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
}

.minimessenger .str-chat__channel-preview--active .str-chat__channel-preview-title{
  color: #24254e;
  font-family: $font-family;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
}

.minimessenger .str-chat__channel-preview--active .str-chat__channel-preview-last-message{
  color: #737684;
  font-family: $font-family;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

.minimessenger .str-chat__channel-preview-last-message{
  color: #737684;
  font-family: $font-family;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

.minimessenger .str-chat__channel-list-team__main {
  background: white;
}

.minimessenger .str-chat__channel-preview-unread-count {
  background-color: #db687a;
}


.minimessenger .str-chat-channel .str-chat__container {
  flex-direction: column;
  display: grid;
  /* height: 100%; */
  height: 48vh;
  align-content: end;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto;
  grid-auto-flow: row;
  background-color: #edf2f4;
}

.minimessenger .str-chat__input-large{
  min-height: 128px;
  background: #ffffff;
}

.minimessenger_title {
  flex-grow: 1;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
}
.minimessengerpanellist{
  box-shadow: none;
}

.minimessenger .str-chat__message-inner, .minimessenger .str-chat__message-simple-inner {
    margin-right: 10px;
}

.minimessenger .str-chat__message--me .str-chat__message-text, .minimessenger .str-chat__message-simple--me .str-chat__message-text{
  width: 300px;
}

.minimessenger .str-chat__message--me > .str-chat__avatar{
  display: none;
}

.minimessenger .str-chat__message--me > .str-chat__message-simple-status{
  display: none;
}


