.try-again-button {
  border-radius: 25px !important;
  background-color: rgb(251, 202, 113);
  min-width: 300px;
  min-height: 48px;
  border: none;
  color: #24254e !important;
  text-transform: capitalize !important;
  font-size: 0.9em !important;
  margin-top: 40px;
}

.try-again-button .MuiButton-label {
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
}
.notification_root {
  width: 15vw;
  min-width: 360px;
  top: 84px;
  background-color: #ffffff;
  box-shadow: none;
  border: solid 1px #e7ecee;
}
.notification_bar {
  background-color: "#ffffff";
  border-bottom: solid 1px #e7ecee;
}
.notification_title {
  flex-grow: 1;
  color: #24254e;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
}
.notificationpanel {
  height: 100%;
  overflow-y: hidden;
}
.notificationpanellist {
  height: 100%;
  overflow-y: scroll;
}
.notification_toolbarCss {
  background-color: white;
}

.MuiBadge-anchorOriginTopRightRectangle {
  top: 3px;
  right: 3px;
}
.MuiBadge-dot {
  height: 16px;
  min-width: 16px;
  border: solid white 3px;
  border-radius: 10px;
}
#NotificationIcon {
  margin-right: 6px;
}