/*
  This will contain the styles for application wide ussage.
*/
:root {
  /*
   * Typography
   * ======================================================================== */

  --font-family-base: "Segoe UI", "HelveticaNeue-Light", sans-serif, "Montserrat";

  /*
   * Layout
   * ======================================================================== */

  --max-content-width: 1000px;

  /*
   * Media queries breakpoints
   * ======================================================================== */

  --screen-xs-min: 480px; /* Extra small screen / phone */
  --screen-sm-min: 768px; /* Small screen / tablet */
  --screen-md-min: 992px; /* Medium screen / desktop */
  --screen-lg-min: 1200px; /* Large screen / wide desktop */

  /**
    Application specific styling goes here
  */
  --background-color-app: #24254e;
  --white: #ffffff;
  --darkBlue: #24254e;
  --lanternGold: #fbca71;
  --brightShade: #908cb5;
  --nightShade: #505176;
}
