@import "../variables.scss";

.CarePlansent {
  text-align: center;
  background-color: var(--background-color-app);
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--white);
  font-stretch: normal;
  font-style: normal;
  padding-top: 120px;
}

.careplansent-img {
  width: 582px;
  height: 264px;
  margin-bottom: 36px;
}

.careplansent-text {
  color: var(--white);
  width: 510px;
  height: 48px;
  margin: 36px 36px 12px;
  font-size: 42px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: -0.35px;
}

.careplansent-message {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: var(--brightShade);
}
.careplansent-desc{
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
.view-care-plan {
  cursor: pointer;
  margin-top: 25px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: var(--darkBlue);
  padding: 15px 60px;
  border-radius: 25px;
  border: none;
  background-color: var(--lanternGold);
  outline: none;
}
