@import "../variables.scss";

$font-family: Montserrat;

.dark  {
  background-color: #e7ecee;
}

.dark .alertscreen_containerTop{
  margin-top: 25vh;
}

.dark .alertScreen_img {
  img {
    height: 136px;
  }
}

.alertscreen_container {
  flex: 1;
  display: flex;
  height: calc(100vh - 86px);
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.alertscreen_containerTop {
  align-items: center;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  max-width: 300px;
}
.alertscreen_containerBotton {
  flex: 2;
  align-items: center;
  justify-content: center;
}
.alertscreen_headingText {
  color: #24254e;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  margin: 12px 0;
}
.alertscreen_body {
  color: #505176;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  margin: 0px;
}
.alertScreen_img {
  margin-bottom: 8px;
  img {
    height: 96px;
  }
}

.str-chat-channel-list,
.str-chat-channel {
  height: 100%;
}

.wrapper .str-chat {
  height: 100%;
}

.wrapper .str-chat-channel .str-chat__container {
  flex-direction: column;
  display: grid;
  /* height: 100%; 
  height: 88vh; */
  align-content: end;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto;
  grid-auto-flow: row;
  background-color: #edf2f4;
}

.str-chat-channel-list,
.str-chat-channel {
  height: 92vh;
}

.wrapper {
  display: grid;
  /* height: 70vh; */
  width: 90vw;
  grid-template-columns: 1fr auto;
  grid-template-rows: calc(100vh - 86px);
}

.left {
  // width: 70vw;
  display: block;
  min-height: 500px;
  min-width: 750px;
}

.right {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(10px, 10vh) minmax(10px, 10vh) 1fr;
  /* padding-left: 10px; */
  min-width: 380px;
}

.header {
  background-color: white;
  margin: 1px;
  padding-left: 20px;
}

.wrapper .messaging.str-chat .str-chat__list {
  background-color: #edf2f4;
}

.wrapper .str-chat__channel-list-team__header {
  display: none;
}

.wrapper .str-chat__avatar-fallback {
  background-color: #505176;
}

.wrapper .str-chat__message--me .str-chat__message-text-inner,
.wrapper .str-chat__message-simple--me .str-chat__message-text-inner {
  background-color: #505176;
  color: white;
}

.wrapper .str-chat__channel-preview--active {
  background-color: #edf2f4;
}

.wrapper .str-chat__channel-preview-title {
  color: #24254e;
  font-family: $font-family;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
}

.wrapper .str-chat__channel-preview--active .str-chat__channel-preview-title {
  color: #24254e;
  font-family: $font-family;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
}

.wrapper
  .str-chat__channel-preview--active
  .str-chat__channel-preview-last-message {
  color: #737684;
  font-family: $font-family;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

.wrapper .str-chat__channel-preview-last-message {
  color: #737684;
  font-family: $font-family;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: break-spaces;
  max-width: 190px;
  max-height: 50px;
}

.wrapper .str-chat__channel-list-team__main {
  background: white;
  min-width: 220px;
  width: 15vw;
}

.wrapper .str-chat__channel-preview-unread-count {
  background-color: #db687a;
}

.wrapper .mssearch .str-chat__channel-preview button {
  border-bottom: none;
}

.wrapper
  .mssearch
  .str-chat__channel-preview
  .str-chat__channel-preview--active {
  background-color: white;
}

.wrapper .mssearch .str-chat__channel-preview-info {
  max-width: none;
}

.wrapper .str-chat__channel-preview-info {
  width: 80%;
}

.wrapper .str-chat__channel-preview button {
  height: 94px;
  align-items: baseline;
}

.mattachmentsSidebar{
      width: 360px;
    float: right;
}
.attachmentsSidebar_main {
    width: 100%;
    float: left;
}
.attachmentsSidebar_inr {
    width: 100%;
    float: left;
    padding: 20px;
}
.attachmentsSidebar_body {
    width: 100%;
    float: left;
    height: 'calc(100vh - 50px)';
    overflow-y: auto;
    border-top: 1px solid #e7ecee;
    margin-top: 10px;
    padding: 20px 0;
}

.attachments_sm_title{
width: 100%;
height: auto;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: var(--dark-blue);
}
.attachmentsSidebar_subtitle{
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--twilight);
  color: #737684;
  padding: 5px 0;
}
.attachmentsSmall {
    width: 100%;
    float: left;
    padding: 20px 0;
}
.rightArrow {
    float: right;
    svg{
      vertical-align: bottom;
      fill: #3c75c8;
    }
}
.disableArrow{
  svg{
      fill: #d6d6d6;
    }
}
.message_body{
width: 100%;
    float: left;
}
.attachmentsIcon{
  display: grid;
  align-items: center;
  justify-content: center;
  min-height: 48px;
  min-width: 48px;
  text-align: center;
  background: #e7ecee;
  color: #24254e;
  margin-right: 10px;
  border-radius: 10px;
  background-size: cover;
}
.attachmentsSidebar_title{
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: var(--dark-blue);
}

.sidebar-main {
  display: grid;
  height: 88vh;
  align-content: flex-start;
  grid-template-rows: auto auto auto 1fr;
  grid-template-columns: auto;
  grid-auto-flow: row;
}

.sidebar-main .sidebar-about{
  display: grid;
  align-items: center;
  min-height: 72px;
  padding-left: 24px;
  border-bottom: solid 1px #e7ecee;
  border-right: solid 1px #e7ecee;
}

.sidebar-main .sidebar-search{
  display: grid;
  align-items: center;
  min-height: 105px;
  padding-left: 24px;
  padding-right: 12px;
}

.sidebar-search .MuiInputBase-input {
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  margin-bottom: 10px;
}

.sidebar-search .MuiInputAdornment-positionEnd{
  margin-bottom: 10px;
}

.sidebar-search .MuiInput-underline:before {
  border-bottom: 1.5px solid #bec3c5;
}

.sidebar-search .MuiInput-underline:after {
  border-bottom: 2px solid #3c75c8;
}

.sidebar-main .attachments-title{
  display: grid;
  grid-template-columns: 1fr auto;
  grid-auto-flow: column;
  padding:20px;
}

.sidebar-main .attachments-title p{
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #24254e;
}

.sidebar-main .attachments-title:focus{
outline: 0;
}

.attachmentlist{
  padding-left: 24px;
  padding-right: 24px;
}

.sidebar-main-full {
  display: grid;
  height: calc(100vh - 150px);
  align-content: flex-start;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-flow: row;
  border-left: solid 1px #e7ecee;
}

.sidebar-main-full .attachmentlist{
  display: grid;
  overflow-y: auto;
  max-height: calc(100vh - 155px);
  padding-bottom: 40px;
  
}

.sidebar-main-full .attachments-title-full{
  border-bottom: solid 1px #e7ecee;
    padding:20px;
}
.attachments-title-back {
    float: left;
    padding-right: 40px;
    svg{
      width: 24px;
      height: 24px;
      g{
        g{
          stroke: #3c75c8;
        }
      }
      fill: #3c75c8;
    }
}
.attachments-title-full .messaging-sidebar-title {
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

.attachmentlist .MuiListItemText-primary {
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
}

.attachmentlist .MuiListItemText-secondary {
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 200px;
}

.attachmentlist .thumbnails{
  max-width: 48px;
  max-height: 48px;
  border-radius: 10px;
}


.sidebar-about .MuiListItemText-primary {
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

.sidebar-about .MuiListItemText-secondary {
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

.sidebar-main .sidebar-search-results{
  display: grid;
  align-items: center;
  padding-left: 24px;
  padding-right: 12px;
  overflow-y: auto;
  height: 98%;
}

.sidebar-main .search-results-msg {
  display: grid;
  align-items: top;
  grid-template-columns: auto auto;
  grid-auto-flow: column;  
  /*min-height: 50px;*/
  justify-content: flex-start;
  margin-bottom: 12px;
  max-width: 300px;
}

.message-avatar{
  display: block;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  background: #24254e;
  color: #ffffff;
  background-size: cover;
  border-radius: 24px;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
}

.sidebar-main .alertscreen_container{
  height: auto;
  padding:0;
  overflow: hidden;
  width: 100%;
}

.sidebar-main .alertscreen_containerTop{
  display: grid;
  align-content: center;
  width: 70%;
}
