$bg-secondary-color: #e7ecee !important;
$text-error-color: #db687a !important;
$text-success-color: #07a689 !important;
$morningGlory: #3c75c8;
$text-darkerror-color: #b83055 !important;
$text-primary-color: #737684 !important;
$lanternGold: #fbca71 !important;

.customCaregiverCard,
.customRecipientCard {
  box-shadow: none;
}

.customRecipientCard {
  border: 1.5px solid $bg-secondary-color;
}

.customCaregiverCardContent {
  padding: 0px;
  padding-bottom: 0px !important;
}

.caregiverData {
  background-color: $bg-secondary-color;
  border: 1.5px solid $bg-secondary-color;
}
.borderRadiusCard{
  border-radius:8px;
}
.caregiverNewData{
padding-top: 24px;
padding-bottom:36px;
height: auto;
}
.caregiverInrBox{
  min-width: 220px;
}
.fontSize12{
  font-size: 12px;
}
.caregiverNewAvatar{

}
.borderRadiusBottomZero {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.borderRadiusTopZero {
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.caregiverAvatar {
  background-color: var(--nightShade);
  color: #ffffff;
}

.lastContacted {
  color: var(--nightShade);
}

.lastContactedOld {
  color: $text-darkerror-color;
  font-weight: 400;
}

.notContactedAtAll {
  color: $text-success-color;
}

.messageIcon {
  background-color: $text-error-color;
  border-radius: 50%;
}

.primaryText {
  color: var(--darkBlue);
}

.formatedName{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 230px;
}

.linearprogress{
background: $bg-secondary-color;
border-radius: 16px;
}
.progressInfo{
  color:$text-primary-color
}

.lightBurdenColor{
background-color: $text-success-color;
}
.mediumBurdenColor{
  background-color: $lanternGold;
}
.heavyBurdenColor{
  background-color: $text-error-color;
}
.indeterminateColor{
background-color: $bg-secondary-color;
}