@import "../variables.scss";

$heading-primary-color: #24254e !important;
$text-primary-color: #737684 !important;
$text-secondary-color: #505176 !important;
$font-family: Montserrat;

.nooptions-text{
  width: 380px;
  height: 42px;
  margin: 11px 18px 0;
  font-family: $font-family;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: var(--nightshade);
}

.nooptions-img{
  width: 264px;
  height: 89px;
  margin: 16px 76px 11px;
  object-fit: contain;
}

.removeUnncessary{
  padding-right: 24px !important;
  padding-bottom: 2px !important;
  color: #db687a !important;
  .MuiAutocomplete-clearIndicator{
    display: none;
  }
}

.errorIcon{
  color: #db687a !important;
  margin-bottom: 12px;
}

.MuiAutocomplete-endAdornment{
  top: calc(50% - 24px) !important;
}
.MuiAutocomplete-popupIndicator{
  margin-right: -5px !important;
}