@import "../variables.scss";

$heading-primary-color: #24254e !important;
$text-primary-color: #737684 !important;
$text-secondary-color: #505176 !important;
$font-family: Montserrat;


.about-you-base-grid {
  height: 100vh;
  min-width: 1440px;
}

.about-you-image-grid {
  
  font-size: calc(10px + 2vmin);
  color: var(--white);
}

.about-you-image-main{

  background-color: #24254e;
  width: 456px;
  height:100%;
}

.about-you-heading {
  font-family: $font-family;
  font-size: 1.7em !important;
  font-weight: bold !important;
  color: $heading-primary-color;
  padding-top: 108px;
}

.about-you-tagline {
  font-family: $font-family;
  font-size: 1em;
  font-weight: 300;
  color: $text-secondary-color;
  padding-top: 16px;
}

.pronouns-select {
  .MuiSelect-icon {
    top: calc(50% - 24px) !important;
    right: -5px !important;
  }
}

.upload-avatar {
  background: #e7ecee;
  color: #3c75c8;
}

.upload-img {
  width: 100% !important;
  height: 100% !important;
}

.upload-inprogress {
  opacity: 0.5;
  pointer-events: none;
}

.upload-button-loader {
  margin-right: 5px;
}

.upload-typography {
  margin-left: 1.5em !important;
  color: $text-primary-color;
  font-size: 1em !important;
  font-weight: 300 !important;
}

.upload-button {
  border-radius: 1.5em !important;
  border: 1.5px solid #3c75c8 !important;
  color: #3c75c8 !important;
  text-transform: capitalize !important;
  font-size: 0.9em !important;
  width: 100% !important;
}

.upload-form-label {
  width: 7em;
}

.upload-filesize-text {
  font-size: 12px !important;
  font-weight: 500 !important;
  color: $text-primary-color;
  margin-left: 1em !important;
}

.pagination-active,
.pagination {
  width: 2.2em;
  height: 2.2em;
  border: 1px solid $text-secondary-color;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  position: relative;
  line-height: 2.2em;
}

.pagination-active {
  background: $text-secondary-color;
  color: #fff;
}

.pagination {
  color: $text-primary-color;
  font-weight: 500 !important;
}

.pagination-connector {
  line-height: 2.2em;
}

.step-1{
  font-size: 12px;
  font-weight: 600;
  line-height:2em;
  padding-left: 1em;
  color: $text-secondary-color;
}

.about-you-btn-next button,
.about-you-btn-next button:hover {
  background-color: #fbca71;
  color: $heading-primary-color;
  border-radius: 1.5em;
  padding: 8px 2.5em;
}

.about-you-nextBtn {
  text-transform: none;
  width: 133px;
  height: 48px;
  border-radius: 25px;
}

.about-you-img{
  width: 108px;
  height: 133px;
  padding-top: 190px;
  padding-bottom: 200px;
  padding-left:50px;
  padding-right:100px;
}

.about-you-text{
  font-size: 42px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
}

.about-you-logo{
  padding-bottom:50px;
}

.profile-img-div {
  border-radius: 50%;
  background: #e7ecee;
  width: 6em;
  height: 6em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-img-div-2 {
  width: 7em;
  height: 7em;
}

.text-danger{
  color: #b83055;
}

.avatar-icon {
  width: 1.5em;
  height: 1.5em;
}

.MuiInputBase-input{
  color: $text-primary-color;
  font-size: 16px;
  font-weight: 500;
}
.MuiFormLabel-root.Mui-focused{
  color:$heading-primary-color;
}
.MuiInputBase-input:focus{
  color:$heading-primary-color;
  font-size: 16px;
  font-weight: 500;
}
.helperText{
  height:0;
  width: 100%;
  margin-top: 0.75px;
  margin-bottom: 5px;
  line-height: 1.66;
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.54);
}
.selecthelperText{
  margin-right: 22px;
}

.errorIcon{
  color: #db687a !important;
  margin-bottom: 12px;
}