@import "../variables.scss";
 
$heading-primary-color: #24254e !important;
$text-primary-color: #737684 !important;
$text-secondary-color: #505176 !important;
$font-family: Montserrat;
 
.base-grid {
 height: 100vh;
}
 
.image-grid {
 background-color: var(--background-color-app);
 font-size: calc(10px + 2vmin);
 color: var(--white);
}
 
.what-about-you-heading{
  font-size: 1.7em !important;	
  font-weight: bold !important;	
  color: $heading-primary-color;
  margin-bottom: 16px;
}

.what-about-you-tagline {
  font-size: 1em;	
  font-weight: 300;	
  color: $text-secondary-color;
}

.pronouns-select {
 .MuiSelect-icon {
   top: auto;
   right: -0.5em;
 }
}
 
.upload-avatar {
 width: 4em;
 height: 4em;
}
 
.upload-typography {
 margin-left: 1.5em;
 color: $text-primary-color;
 font-size: 1em;
 font-weight: 300;
}
 
.upload-button {
 border-radius: 1.5em;
 border: 1.5px solid #3c75c8;
 color: #3c75c8;
 font-size: 0.9em;
 padding-left: 1.5em;
 padding-right: 1.5em;
}
 
.upload-filesize-text {
 font-size: 12px;
 font-weight: 500;
 color: $text-primary-color;
 margin-left: 1em;
}
 
.pagination-active,
.pagination {
 width: 2.2em;
 height: 2.2em;
 border: 1px solid $text-secondary-color;
 border-radius: 50%;
 text-align: center;
 vertical-align: middle;
 position: relative;
 line-height: 2.2em;
}
 
.pagination-active {
 background: $text-secondary-color;
 color: #fff;
}
 
.pagination {
 color: $text-primary-color;
}
 
.pagination-connector {
 line-height: 2.2em;
}
 
.step-1{
 font-size: 12px;
 font-weight: 600;
 line-height:2em;
 padding-left: 1em;
 color: $text-secondary-color;
}
 
.btn-next button,
.btn-next button:hover {
 background-color: #fbca71;
 color: $heading-primary-color;
 border-radius: 1.5em;
 padding: 8px 2.5em;
}
 
.what-about-you{
 width: 108px;
 height: 133px;
 padding-top: 190px;
 padding-bottom: 200px;
 padding-left:50px;
 padding-right:100px;
}

.what-about-you-text{
 font-size: 42px;
 font-weight: bold;
 font-stretch: normal;
 font-style: normal;
 line-height: 1.14;
}
 
.what-about-you-logo{
 padding-bottom:50px;
}

.Icons16pxCheck {
  width: 1.0em;
    height: 0.5em;
    border-radius: 50%;
    text-align: initial;
    vertical-align: middle;
    position: absolute;
}

.Border {
  width: 30px;
  height: 30px;
  padding: 7px 0 8px;
  border: solid 1.5px #07a689;
  background-color: #07a689;
  border-radius: 50%;
}

#nextBtn {
  text-transform: none;
  width: 133px;
  height: 48px;
  border-radius: 25px;
}

.about-below{
  font-size: 12px;
}

#jobStartDate {
  width:416px;
}

.image-grid {
  font-size: calc(10px + 2vmin);
  color: var(--white);
}


.image-main{
  background-color: var(--darkBlue);
  width: 456px;
  height:100vh;
}

.dateicon {
  margin-bottom: 2px;
  width: 24px;
  height: 24px;
}

.date-picker-hover {
  button {
    height: 48px;
    margin-bottom: 24px;
    padding: 0;
  }
}
.text-danger{
  color: #b83055;
}

.errorField {
    & .MuiInput-underline {
      &:before{
        border-bottom-color: #b83055
      }
    }
    & .MuiInputLabel-root {
      color: #b83055
    }
}
.helperText{
  height:0;
  width: 100%;
  float: left;
  margin-top: 3px;
  line-height: 1.66;
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.54);
}
#ccAbout-label + .MuiInputBase-multiline {
  padding: 6px 0 3px; 
}
.endAdornmentAbout {
  margin-bottom: 11px; 
  margin-right: 0px; 
  color: #db687a !important;
}
.endAdornmentSpecialities{
  margin-right: 0px; 
  margin-bottom: 14px;
  color: #db687a !important;
}
